In [1]:
import pandas as pd
locations = ["EL", "DL", "LB", "ML", "TS", "NT", "CH", "SS"]

In [2]:
df = pd.read_csv('../data/many/separated.csv')
df.head()

,datetime,target,ELAMB_TEMP,ELRAINFALL,ELRH,DLPM2.5,LBPM2.5,CHPM2.5,MLPM2.5,SSPM2.5,...,NTWIND_DIREC,ELWIND_DIREC,DLWIND_SPEED,LBWIND_SPEED,CHWIND_SPEED,MLWIND_SPEED,SSWIND_SPEED,TSWIND_SPEED,NTWIND_SPEED,ELWIND_SPEED
0,2012-01-01 00:00:00,43.0,15.0,0.0,77.0,18.0,NaN,28.0,19.0,26.0,...,315.0,45.0,1.0,2.0,2.0,3.0,4.0,5.0,1.0,3.0
1,2012-01-01 01:00:00,60.0,15.0,0.0,75.0,17.0,NaN,32.0,24.0,23.0,...,315.0,45.0,1.0,3.0,2.0,3.0,3.0,5.0,1.0,3.0
2,2012-01-01 02:00:00,55.0,16.0,0.0,74.0,25.0,NaN,NaN,27.0,22.0,...,45.0,45.0,2.0,2.0,2.0,3.0,4.0,5.0,1.0,3.0
3,2012-01-01 03:00:00,41.0,16.0,0.0,73.0,33.0,NaN,22.0,27.0,23.0,...,315.0,45.0,1.0,3.0,2.0,3.0,4.0,5.0,1.0,3.0
4,2012-01-01 04:00:00,31.0,15.0,0.0,74.0,33.0,NaN,22.0,27.0,25.0,...,45.0,45.0,1.0,3.0,2.0,3.0,3.0,5.0,1.0,3.0

In [3]:
for loc in locations:
    #rainfall = pd.get_dummies(df['RAINFALL']).rename(columns = lambda x: "RF_" + str(int(x)))
    direct = pd.get_dummies(df[loc+'WIND_DIREC']).rename(columns = lambda x: loc+"_WD_" + str(int(x/45)))
    #speed = pd.get_dummies(df[loc+'WIND_SPEED']).rename(columns = lambda x: loc+"_WS_" + str(int(x)))
    #rh = pd.get_dummies(df['RH']).rename(columns = lambda x: "RH_" + str(int(x)))
    df = pd.concat([df, direct], axis=1)

In [4]:
df.head()

,datetime,target,ELAMB_TEMP,ELRAINFALL,ELRH,DLPM2.5,LBPM2.5,CHPM2.5,MLPM2.5,SSPM2.5,...,CH_WD_6,CH_WD_7,SS_WD_0,SS_WD_1,SS_WD_2,SS_WD_3,SS_WD_4,SS_WD_5,SS_WD_6,SS_WD_7
0,2012-01-01 00:00:00,43.0,15.0,0.0,77.0,18.0,NaN,28.0,19.0,26.0,...,0,0,0,1,0,0,0,0,0,0
1,2012-01-01 01:00:00,60.0,15.0,0.0,75.0,17.0,NaN,32.0,24.0,23.0,...,0,0,0,1,0,0,0,0,0,0
2,2012-01-01 02:00:00,55.0,16.0,0.0,74.0,25.0,NaN,NaN,27.0,22.0,...,0,0,0,1,0,0,0,0,0,0
3,2012-01-01 03:00:00,41.0,16.0,0.0,73.0,33.0,NaN,22.0,27.0,23.0,...,0,0,0,1,0,0,0,0,0,0
4,2012-01-01 04:00:00,31.0,15.0,0.0,74.0,33.0,NaN,22.0,27.0,25.0,...,0,0,0,1,0,0,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Columns: 101 entries, datetime to SS_WD_7
dtypes: float64(36), object(1), uint8(64)
memory usage: 15.1+ MB

In [6]:
drops = [loc+"WIND_DIREC" for loc in locations]
#drops = [inner for outer in drops for inner in outer]

In [7]:
df.drop(drops, inplace=True, axis=1)

In [8]:
df.to_csv('../data/many/dummy.csv', index=False)