In [1]:
import pandas as pd

neighbors = {"崙背":"LB", "南投":"NT", "彰化":"CH"}

In [2]:
target_cols = ["PM2.5", "AMB_TEMP", "RH", "RAINFALL", "WIND_SPEED", "WIND_DIREC"]
dataframe = pd.read_csv("../data/二林.csv", index_col="datetime")
dataframe = dataframe[target_cols]
dataframe = dataframe.rename(columns={"PM2.5":"PM25", "WIND_SPEED":"WS", "WIND_DIREC":"WD", "AMB_TEMP":"TEMP"})
dataframe.columns = ["EL" + "_" + col for col in dataframe.columns.tolist()]

In [3]:
for loc, abb in neighbors.iteritems():
    df = pd.read_csv("../data/" + loc + ".csv", index_col="datetime")
    neighbor_cols = ["PM2.5", "WIND_SPEED", "WIND_DIREC"]
    df = df[neighbor_cols]
    df = df.rename(columns={"PM2.5":"PM25", "WIND_SPEED":"WS", "WIND_DIREC":"WD"})
    df.columns = [abb + "_" + col for col in df.columns.tolist()]
    dataframe = pd.concat([dataframe, df], axis=1)

In [4]:
dataframe.describe()

,EL_PM25,EL_TEMP,EL_RH,EL_RAINFALL,EL_WS,EL_WD,LB_PM25,LB_WS,LB_WD,NT_PM25,NT_WS,NT_WD,CH_PM25,CH_WS,CH_WD
count,86815,87259,87256,87252,87251,87252,86474,86819,86800,86528,87375,87375,86700,87122,87121
unique,566,2676,5384,181,1187,18731,427,1314,18357,416,801,19587,544,1165,19456
top,17,28,87,0.0,0.5,39,19,1.7,45,17,1.3,306,22,0.5,41
freq,2266,4319,2228,82010,1870,1473,1925,1652,986,2032,3596,538,2210,2229,728

In [5]:
dataframe.tail()

,EL_PM25,EL_TEMP,EL_RH,EL_RAINFALL,EL_WS,EL_WD,LB_PM25,LB_WS,LB_WD,NT_PM25,NT_WS,NT_WD,CH_PM25,CH_WS,CH_WD
2016-12-31 19:00:00,10,21,85,0.0,2.8,42,28,3,296,37,0.6,135,15,1.6,29
2016-12-31 20:00:00,7,21,87,0.0,2.5,68,24,2.2,319,37,0.6,165,15,1.4,6.1
2016-12-31 21:00:00,10,20,87,0.0,2,48,23,2.4,248,37,0.4,58,27,0.7,36
2016-12-31 22:00:00,7,20,88,0.0,1.3,329,16,1.8,352,35,1.4,209,29,0.6,111
2016-12-31 23:00:00,6,19,88,0.0,0.6,307,17,1,323,35,1.3,181,30,0.5,180

In [7]:
dataframe.to_csv("../data/raw.csv", index_label="datetime")